* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('Images/1514022-most-popular-very-cool-background-wallpaper-2560x1600-windows-xp.jpg');
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1{
  color:  rgb(89, 203, 232); 
}

#gif-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#gif-results img{
  display: block;
  max-width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

button {
  padding: 10px 15px;
}

#search-form {
  margin-bottom: 20px;
  align-items: center;
}

#search-input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  align-items: center;
}

img {
  min-width: 300px;
  min-height: 250px;
  max-height: 250px;
  max-width: 300px;
  padding: 10px;
}

footer {
  min-height: 10vh;
  color: rgb(89, 203, 232); 
  text-align: center;
}