* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('Images/1514022-most-popular-very-cool-background-wallpaper-2560x1600-windows-xp.jpg');
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button {
  padding: 10px 15px;
  background-color: darkgray;
  color: black;
}

#search-form {
  margin-bottom: 20px;
  align-items: center;
}

#search-input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  align-items: center;
}

#gif-results {
  -ms-flex-item-align: center;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

footer {
  min-height: 10vh;
  color: rgb(89, 203, 232); 
  text-align: center;
}

img {
  min-width: 300px;
  min-height: 250px;
  max-height: 250px;
  max-width: 300px;
  padding: 10px;
}